@font-face {
  font-family: Galmuri11;
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url('./dist/Galmuri11.ttf') format("truetype");
}
@font-face {
  font-family: Galmuri11;
  font-weight: 700;
  font-style: normal;
  font-display: block;
  src: url('./dist/Galmuri11-Bold.ttf') format("truetype");
}
@font-face {
  font-family: Galmuri9;
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url('./dist/Galmuri9.ttf') format("truetype");
}
html, .markdown-body,
html *, .markdown-body * { font-family: Galmuri11, sans-serif; }
header { height: 0; overflow: hidden; }
.markdown-body { line-height: 1.25; }
.markdown-body a { color: #06c; }
h1 { font-size: 32px !important; }
h2, h3 { font-size: 24px !important; }
h4 { font-size: 16px !important; }
#glyphs { word-break: break-all; overflow-wrap: anywhere; font-size: 16px; filter: grayscale(100%); }
