@font-face {
  font-family: Galmuri11;
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url('./dist/Galmuri11.ttf') format("truetype");
}
@font-face {
  font-family: Galmuri11;
  font-weight: 700;
  font-style: normal;
  font-display: block;
  src: url('./dist/Galmuri11-Bold.ttf') format("truetype");
}
@font-face {
  font-family: Galmuri9;
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url('./dist/Galmuri9.ttf') format("truetype");
}
@font-face {
  font-family: Yamche;
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url('./dist/Yamche.ttf') format("truetype");
}
html, .markdown-body,
html *, .markdown-body * { font-family: Galmuri11, sans-serif; }
body { transform: translateX(-.5px); }
header { height: 0; overflow: hidden; }
.markdown-body { font-size: 12px; line-height: 1.5; }
.markdown-body a { color: #06c; }
h1 { font-size: 24px !important; }
h2, h3 { font-size: 18px !important; }
h4 { font-size: 12px !important; }
#glyphs { word-break: break-all; overflow-wrap: anywhere; filter: grayscale(100%); }
.galmuri11 { font-size: 12px; font-family: Galmuri11; }
.galmuri11-bold { font-size: 12px; font-family: Galmuri11; font-weight: 700; }
.galmuri9 { font-size: 10px; font-family: Galmuri9; }
.yamche { font-size: 8px; font-family: Yamche; }
