:root {
  --pr: #6171eb;
  --bg: #fff;
  --fg: #18181b;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, "Pretendard Variable", Pretendard, Inter, "Noto Sans KR", sans-serif;
}

.container { width: 100%; margin: 0 auto; padding-left: 2rem; padding-right: 2rem; }

@media (min-width: 640px) {
  .container { max-width: 640px; }
}

@media (min-width: 768px) {
  .container { max-width: 768px; }
}

@media (min-width: 1024px) {
  .container { max-width: 1024px; }
}

@media (min-width: 1280px) {
  .container { max-width: 1280px; }
}

@media (min-width: 1536px) {
  .container { max-width: 1536px; }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #bbc2f7;
    --bg: #18181b;
    --fg: #fff;
  }
}
