/* header.css */

.octocat { border: 0; color: #fbfbfb; fill: var(--point-fixed); height: 5.2rem; position: fixed; right: 0; top: 0; width: 5.2rem; z-index: 2; filter: drop-shadow(var(--shadow));}
.octocat:hover .octocat-arm { animation: b .56s infinite; transform-origin: 7rem 5.25rem; }
.octocat .octocat-arm, .octocat .octocat-body { fill: #fbfbfb; }
@media (max-width: 720px) {
  .octocat:hover .octocat-arm { animation: b .56s infinite; transform-origin: 8.5rem 6.5rem; }
}
